/********************************
Main
********************************/

html{
	height: 100%;
	font-family:'Lifes-A-Beach', 'BeachType', Papyrus, sans-serif;
}

body{
	background-color: white;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: url('../Pictures/bg.jpg') no-repeat;
	background-size: 100% 200%;
}

.wrap{
	background-color: white;
	width: 65%;
	margin: 0 auto;
	min-height: 100%;
	border-radius: 3%;
	box-shadow: 1px 1px 1000px rgba(0, 0, 0, .5);
}

/********************************
Anchor Tags
********************************/
.nav{
	margin: 0;
	padding: 0;
}

.nav div{
	display: inline;
}

a{
	color: #8DF7E0;
	text-decoration: none;
	padding: 1.5%;
	margin: 0 0 0 2%;
	width: 100px;
	height: 60px;
	display: inline-block;
	color: transparent;
	background: url('../Pictures/Boards/homeboard.jpg') no-repeat;
	overflow: hidden;
	transition: color .2s .2s ease-in, background .15s .1s ease-in;
}

a:visited{
	color: #8DD7E0;
}


a:hover{
	color: #1B59E0;
	background: url('../Pictures/Boards/homeboard.jpg') no-repeat center;
}

a:focus{
	color: #1B59E0;
	text-decoration: underline;
}

a:active{
	color: #351BE0;
}
/********************************
Top
********************************/

h1{
	text-align: center;
	margin-top: 0;
	padding-top: 2%;
}

.margin{
	padding: 1%;
}

input,
button{
	display: inline;
	position: inherit;
}

input{
	margin: 0 0 2% 78%;
}

/********************************
Middle
********************************/

p{
	text-align: center;
	margin: 2%;
}


#pic{
	width: 70%;
	height: 100%;
	/*margin-left: 15%;
	margin-right: 25%;*/
	margin: 0 auto;
	display: block;
}

/********************************
Bottom
********************************/


.logo{
	width: 25%;
	height: 13%;
	margin: 0 0 0 14%;
	float: left;
}

.verse{
	margin: -10% 15% 0 55%;
	font-size: 150%;
	float: right;
}

/********************************
Clearfixes
********************************/


.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}

/********************************
Custom Fonts
********************************/

@font-face{
	font-family: "BeachType";
	src: url('../Fonts/BEACHTYP.TTF');
}

@font-face{
	font-family: "Lifes-A-Beach";
	src: url('../Fonts/Lifes-A-Beach/Lifes A Beach.ttf');
}











