/********************************
Main
********************************/

html{
	height: 100%;
	font-family:'Lifes-A-Beach', 'BeachType', Papyrus, sans-serif;
}

html body{
	background-color: white;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: url('../img/bg.jpg') no-repeat;
	background-size: 100% 200%;
}

.wrap{
	background-color: white;
	width: 65%;
	margin: 0 auto;
	min-height: 100%;
	border-radius: 10%;
	box-shadow: 1px 1px 1000px rgba(0, 0, 0, .5);
}

/********************************
Nav
********************************/
nav{
	margin-left: 2%;
	padding: 0;
}

nav div{
	display: inline;
}

nav div a{
	text-decoration: none;
	padding: 12px 5px 0;
	width: 80px;
	height: 40px;
	display: inline-block;
	color: transparent;
	background: url('../img/Boards/homeboard.jpg') no-repeat center top;
	background-size: 100% 70%; 
	overflow: hidden;
	transition: color .2s .2s ease-in, background-size .5s  ease-in;
	text-align: center;
}

nav div a.on{
	background: url('../img/Boards/onboard.jpg') no-repeat center top;
	background-size: 100% 70%;
	text-decoration: underline;
	margin-left: 1%;
	padding: 1%;
	width: 70px;
	height: 30px;
}

nav div a:visited{
	color: #8DD7E0;
}


nav div a:hover{
	color: #8DD7E0;
	background-size: 0 0;
}

nav div a:focus{
	color: #8DD7E0;
	text-decoration: underline;
	background-size: 0 0;
	transition: 0 0;
}

nav div a:active{
	color: #351BE0;
}

/********************************
Search Feild
********************************/

nav form input,
nav form button,
nav form{
	display: inline;
	position: inherit;
}

#text_feild{
	width: 150px;
	padding: 6px;
	margin-left: 5%;
}

input[type="submit"]{
	text-transform: uppercase;
	border: 1px solid #8DD7E0;
	background: #8DD7E0;
	color: white;
	padding: 7px;
	border-radius: 2px;
	-webkit-appearance: button;
	cursor: pointer;
}

input{
	font-size: 12px;
}

/********************************
Top
********************************/

h1{
	text-align: center;
	margin-top: 0;
	padding-top: 2%;
}

div.margin{
	padding: 1%;
}
/********************************
Middle
********************************/

p{
	text-align: center;
	margin: 2%;
}

.thanks{
	margin: 10% auto 0;
	background-color: lightblue;
	padding: 10%;
}

div.pic img#pic{
	width: 70%;
	height: 100%;
	/*margin-left: 15%;
	margin-right: 25%;*/
	margin: 0 auto;
	display: block;
}

/********************************
Bottom
********************************/


div.clearfix img.logo{
	width: 25%;
	height: 13%;
	margin: 0 0 0 14%;
	float: left;
}

div.clearfix p.verse{
	margin: -10% 15% 0 55%;
	font-size: 150%;
	float: right;
}
/******************************
Clearfixes
********************************/


div.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
div.clearfix {
	display: inline-block;
}

/********************************
Contact
********************************

form table{
	width: 375px;
	margin-bottom: 16px;
	border-collapse: collapse;
	border-spacing: 0;
	white-space: normal;
	line-height: normal;
	font-weight: normal;
	font-size: medium;
	font-variant: normal;
	font-style: normal;
	color: -webkit-text;
	text-align: start;
	display: table;
}

form{
	width: 375px;
	margin: 34px auto;
	display: block;
}

tbody{
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

form tr{
	border: 1px solid black;
	background: lightblue;
	display: table-row;
	vertical-align: inherit;
}

form th{
	width: 85px;
	border-right: 1px solid black;
	vertical-align: middle;
	padding: 8px;
	font-weight: bold;
}

td, th{
	display: table-cell;
	vertical-align: inherit;
	
}

label {
	cursor: default;
}

form td {
	padding: 15px 15px;
}

input, textarea{
	width: 100%;
}

textarea{
	font-size: 100%;
	margin: 0;
	box-sizing: border-box;
	-webkit-appearance: textarea;
	background-color: white;
	border: 1px solid;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	-webkit-flex-direction: column;
	resize: auto;
	cursor: auto;
	padding: 2px;
	white-space: pre-wrap;
	word-wrap: break-word;
	font: -webkit-small-control;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	-webkit-writing-mode: horizontal-tb;
}

input[type="submit"]{
	-webkit-align-items: flex-start;
	width: 375px;
	text-align: center;
	border: 1px solid black;
	background: lightblue;
	color: #FFF;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font-size: 14px;
	text-transform: uppercase;
	padding: 14px;
	-webkit-appearance: button;
	cursor: pointer;
	margin: 0;
	vertical-align: baseline;
}
/********************************
Custom Fonts
********************************/

@font-face{
	font-family: "BeachType";
	src: url('../Fonts/BEACHTYP.TTF');
}

@font-face{
	font-family: "Lifes-A-Beach";
	src: url('../Fonts/Lifes-A-Beach/Lifes A Beach.ttf');
}











